<mat-list>
    <div *ngIf="dataArray.length === 0">
      <p>Please add some {{type}} item...</p>
    </div>
    <div *ngIf="dataArray.length > 0">
      <mat-list-item *ngFor="let data of dataArray" (click)="openKey(data.created)" (classList)="mat-menu-item">
        {{data.title}}
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="openOption($event, data.created)">
          <mat-icon color="accent">more_vert</mat-icon>
        </button>
      </mat-list-item>
    </div>
</mat-list>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editData()">
    <mat-icon color="accent">mode_edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="deleteData()">
    <mat-icon color="accent">delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>

