<h2>FAQs</h2>
<mat-form-field class="search">
  <input matInput type="text" placeholder="Search..." [(ngModel)]="input" (change)="search()" (keyup)="search()"/>
  <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="search()">
    <mat-icon color="accent">search</mat-icon>
  </button>
</mat-form-field>
<mat-expansion-panel *ngFor="let faq of filteredFaqs">
  <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
    <mat-panel-title>
      <strong>{{faq.q}}</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p [innerHTML]="faq.a"></p>
</mat-expansion-panel>
<div *ngIf="filteredFaqs.length === 0">
  No match ... <mat-icon color="accent">sentiment_very_dissatisfied</mat-icon>
</div>
