<h2>FAQs</h2>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey? What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey1'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey2'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
<app-info-link [id]="'masterkey3'" [linktext]="'What the hell is a masterkey?'">
  Bla Bla..
</app-info-link>
