<h1 mat-dialog-title>{{keyObj.title}}</h1>
<mat-dialog-content>
  <div *ngIf="keyObj.type === 'Account'">
    <table>
      <tr>
        <td><strong>Username</strong>:</td>
        <td>{{keyObj.user}}</td>
      </tr>
      <tr>
        <td><strong>Password</strong>:</td>
        <td>{{keyObj.pass}}</td>
      </tr>
    </table>
  </div>
  <div class="pre" *ngIf="keyObj.type !== 'Account'">{{keyObj.text}}</div>
</mat-dialog-content>
<mat-dialog-actions align="right">
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
