<div>
  <div *ngIf="auth">
    <button mat-button color="accent" (click)="export()">
      <mat-icon>file_download</mat-icon>
      <span>Export</span>
    </button>
    <button mat-button color="accent" [matMenuTriggerFor]="menu">
      <mat-icon>file_upload</mat-icon>
      <span>Import</span>
    </button>
    <button mat-button color="accent" class="hide">
      <mat-icon>credit_card</mat-icon>
      <span>Donate</span>
    </button>
    <form id="importForm">
      <input type="file" (change)="fileChanged($event)" name="file" accept=".sam" id="importBtn">
    </form>
  </div>
  <div (click)="navToggler.click()">
    <button mat-button color="accent" routerLink="/about">
      <mat-icon>info_outline</mat-icon>
      <span>About</span>
    </button>
    <button mat-button color="accent" routerLink="/faq">
      <mat-icon>help_outline</mat-icon>
      <span>FAQ</span>
    </button>
    <button mat-button color="accent" *ngIf="auth" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </div>
</div>
<mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
  <button mat-menu-item (click)="triggerImport()">
    <mat-icon color="accent">insert_drive_file</mat-icon>
    <span>Import from a file</span>
  </button>
  <button mat-menu-item (click)="openTextImportDialog()">
    <mat-icon color="accent">textsms</mat-icon>
    <span>Import from a text</span>
  </button>
</mat-menu>
