<div>
  <div *ngIf="auth">
    <button md-button color="accent" (click)="export()">
      <md-icon>file_download</md-icon>
      <span>Export</span>
    </button>
    <button md-button color="accent" [mdMenuTriggerFor]="menu">
      <md-icon>file_upload</md-icon>
      <span>Import</span>
    </button>
    <button md-button color="accent">
      <md-icon>credit_card</md-icon>
      <span>Donate</span>
    </button>
    <form id="importForm">
      <input type="file" (change)="fileChanged($event)" name="file" accept=".am" id="importBtn">
    </form>
  </div>
  <div (click)="navToggler.click()">
    <button md-button color="accent">
      <md-icon>info_outline</md-icon>
      <span>more info</span>
    </button>
    <button md-button color="accent" routerLink="/faq">
      <md-icon>help_outline</md-icon>
      <span>FAQ</span>
    </button>
  </div>
</div>
<md-menu #menu="mdMenu" xPosition="before" [overlapTrigger]="false">
  <button md-menu-item (click)="triggerImport()" color="accent">
    <md-icon>insert_drive_file</md-icon>
    <span>Import from a file</span>
  </button>
  <button md-menu-item (click)="openTextImportDialog()" color="accent">
    <md-icon color="red">textsms</md-icon>
    <span>Import from a text</span>
  </button>
</md-menu>
