<input type="checkbox" id="navToggler" style="display: none">
<div class="head mat-calendar-body-selected">
  <a id="home" mat-button routerLink="/keylist">
    <mat-icon>lock</mat-icon>
    <span>Accountmanager</span>
  </a>
  <label class="xs-show pointer" for="navToggler">
    <mat-icon class="fa">menu</mat-icon>
    <mat-icon class="fa">close</mat-icon>
  </label>
</div>

<div id="nav" class="nav">
  <app-nav [auth]="isAuthenticated()"></app-nav>
</div>
<label for="navToggler" class="overlay"></label>
<div class="contentContainer">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
