<h1 mat-dialog-title>Import from text</h1>
<mat-dialog-content>
  <mat-form-field class="full-width" color="accent">
    <textarea matInput placeholder="Please add copied text here..." [(ngModel)]="text" rows="7"></textarea>
    <mat-hint *ngIf="error !== ''" [ngStyle]="{'color': 'red'}" align="start">{{error}}</mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="right">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="import($event)" class="save-btn">Import</button>
</mat-dialog-actions>
