<h1 mat-dialog-title *ngIf="mode === 'create'">Create new key</h1>
<h1 mat-dialog-title *ngIf="mode === 'edit'">Edit</h1>
<mat-dialog-content>
  <mat-form-field class="full-width" color="accent">
    <mat-select placeholder="Type" [(ngModel)]="keyObj.type" name="type" color="accent">
      <mat-option *ngFor="let type of ['Account', 'Text']" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width title" color="accent">
    <input matInput placeholder="{{mode === 'create' ? 'Title (Facebook...)' : 'Title' }}" [(ngModel)]="keyObj.title">
    <mat-hint *ngIf="error.title !== ''" [ngStyle]="{'color': 'red'}" align="start">{{error.title}}</mat-hint>
  </mat-form-field>
  <div *ngIf="keyObj.type === 'Account'">
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Username" value="" [(ngModel)]="keyObj.user">
      <mat-hint *ngIf="error.user !== ''" [ngStyle]="{'color': 'red'}" align="start">{{error.user}}</mat-hint>
    </mat-form-field>
    <span class="relative">
      <mat-form-field class="full-width" color="accent">
        <input matInput placeholder="Password" [(ngModel)]="keyObj.pass" type="{{hidePw ? 'password' : 'text'}}">
        <mat-hint *ngIf="error.pass !== ''" [ngStyle]="{'color': 'red'}" align="start">{{error.pass}}</mat-hint>
      </mat-form-field>
      <button mat-icon-button disableRipple="true" (click)="hidePw = !hidePw" class="right">
        <mat-icon *ngIf="hidePw" color="accent">visibility</mat-icon>
        <mat-icon *ngIf="!hidePw" color="accent">visibility_off</mat-icon>
      </button>
    </span>
  </div>
  <div *ngIf="keyObj.type !== 'Account'">
    <mat-form-field class="full-width" color="accent">
      <textarea matInput placeholder="Text" [(ngModel)]="keyObj.text" maxlength="200" rows="4"></textarea>
      <mat-hint *ngIf="error.text !== ''" [ngStyle]="{'color': 'red'}" align="start">{{error.text}}</mat-hint>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="right">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="save($event)" class="save-btn">Save</button>
</mat-dialog-actions>
